<h1> HAUNTED - Explore the otherworld </h1>

<p> This site was made for the purpose of identifying creepy places around the globe, and meeting other individuals interested in researching such phenomena. We currently encourage submissions from the following categories. </p>
<ul>
<li> ghosts </li>
<li> general hauntings </li>
<li> demonic possession </li>
<li> zombies </li>
<li> cryptids </li>
<li> UFOs </li>
<li> crop circles </li>
<li> alien activity </li>
<li> time warps </li>
<li> gravity vortexes </li>
<li> misc. abnormal phenomena </li>
</ul>

<p> Bullying of any kind is discouraged. We do not discriminate based on gender identification, nationality, ethnicity, or any other factors. However, no hate speech will be tolerated. </p>