<center> <img src= "http://25.media.tumblr.com/fc75e2d8c105a33d4f7b79eac5691258/tumblr_mk726dRAip1qcm5b7o1_400.gif" alt = "okay"> </center>

<p> <center> Thank you for signing up, <%= current_user.name %> ! </center> </p>